

@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootswatch";

.hide {
    display: none;
}
li.list-item.card {
    max-width: 338px;
}
.card-footer {
    height: 63px;
}
/*.availability {*/
/*position: absolute;*/
/*}*/
.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 20rem;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 0;
}
.close-icon {
    /*border: 1px solid;*/
    border-radius: 50%;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    padding: 0;
}
.open-sidebar-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
    font-size: 12px;
}
