

@import "../scss/variables";
@import "~bootstrap/scss/bootstrap";
@import "../scss/bootswatch";

html, body, #root {
    height: 100%;
    overflow: hidden;
}
#root{
    margin: 0;
    max-width: none;
}
.hide {
    display: none;
}
.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 30rem;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 0;
    overflow: auto;
}
.close-icon {
    /*border: 1px solid;*/
    border-radius: 50%;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    padding: 0;
}
.open-sidebar-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
    font-size: 12px;
}
.card-container {
    height: calc(100% - 70px);
    overflow: auto;
    &.card-content {
        display: inline-block;
    }
    .card {
        margin: 0;
        display: inline-block;
        width: 100%;
        max-width: 400px;
        min-width: 200px;
        .picture {
            //width: 200px;
            height: 12rem;
            margin: 0;
        }
        .card-header {
            width: 99.99%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .card-footer {
        height: 63px;
        .btn-center-btn {
            pointer-events: none;
        }
    }
    li {
        list-style: none;
        display: inline-block;
    }

}

.cart-list-item-label {
    //width: 75%;
    margin-bottom: 0;
    background-color: #f7f7f7;
    padding: .25rem;
    vertical-align: middle;
    &:before {
        content: '';
        width: 7px;
        height: 7px;
        background-color: #555;
        border-radius: 50%;
        display: inline-flex;
        margin-right: 0.5rem;
        vertical-align: middle;

    }
    + .btn-group {
        margin: .5rem 0;
    }
}
.empty-cart {
    text-align: center;
}
.cart-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
